<a href="https://colab.research.google.com/github/ravindrapalli33/data-science-practice-sl/blob/main/data_science_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World!')

Hello World!

In [2]:
print('Verifying execution')

Verifying execution

In [3]:
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')
display(data)

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[63766 rows x 59 columns]

In [11]:
pwd()

'/content'

In [12]:
print (data.tail())

      iso_code continent  ... life_expectancy human_development_index
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[5 rows x 59 columns]

In [13]:
print (data.head())

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 59 columns]

In [14]:
display(data.head())

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 59 columns]

In [15]:
display(data.head(10))

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498
5      AFG      Asia  ...           64.83                   0.498
6      AFG      Asia  ...           64.83                   0.498
7      AFG      Asia  ...           64.83                   0.498
8      AFG      Asia  ...           64.83                   0.498
9      AFG      Asia  ...           64.83                   0.498

[10 rows x 59 columns]

In [18]:
display(data[['iso_code']])

      iso_code
0          AFG
1          AFG
2          AFG
3          AFG
4          AFG
...        ...
63761      ZWE
63762      ZWE
63763      ZWE
63764      ZWE
63765      ZWE

[63766 rows x 1 columns]

**Reading excel file**

In [20]:
data_excel = pd.read_excel('https://covid.ourworldindata.org/data/owid-covid-data.xlsx')
display(data_excel)

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[63766 rows x 59 columns]

In [22]:
display(data_excel.head())

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 59 columns]

**Writing data**

In [23]:
data1 = data.copy()
display(data1)

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[63766 rows x 59 columns]

In [26]:
data1.to_csv('/content/sample_data/cv_world_data.csv')

In [28]:
data2 = pd.read_csv('/content/sample_data/cv_world_data.csv')
display(data2)

       Unnamed: 0 iso_code  ... life_expectancy human_development_index
0               0      AFG  ...           64.83                   0.498
1               1      AFG  ...           64.83                   0.498
2               2      AFG  ...           64.83                   0.498
3               3      AFG  ...           64.83                   0.498
4               4      AFG  ...           64.83                   0.498
...           ...      ...  ...             ...                     ...
63761       63761      ZWE  ...           61.49                   0.535
63762       63762      ZWE  ...           61.49                   0.535
63763       63763      ZWE  ...           61.49                   0.535
63764       63764      ZWE  ...           61.49                   0.535
63765       63765      ZWE  ...           61.49                   0.535

[63766 rows x 60 columns]

In [29]:
display(data2.head())

   Unnamed: 0 iso_code  ... life_expectancy human_development_index
0           0      AFG  ...           64.83                   0.498
1           1      AFG  ...           64.83                   0.498
2           2      AFG  ...           64.83                   0.498
3           3      AFG  ...           64.83                   0.498
4           4      AFG  ...           64.83                   0.498

[5 rows x 60 columns]

In [30]:
data1.to_csv('/content/sample_data/cv_data_world.csv', index=False)
display(data1)

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[63766 rows x 59 columns]

In [31]:
data3 = pd.read_csv('/content/sample_data/cv_data_world.csv')
display(data3)

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[63766 rows x 59 columns]

In [32]:
display(data3.head())

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 59 columns]

In [35]:
display(data3.tail())

      iso_code continent  ... life_expectancy human_development_index
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[5 rows x 59 columns]

In [36]:
df_data = pd.DataFrame(data3.tail())
print(df_data)

      iso_code continent  ... life_expectancy human_development_index
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[5 rows x 59 columns]

In [37]:
display(df_data)

      iso_code continent  ... life_expectancy human_development_index
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[5 rows x 59 columns]

**Find all the rows based on a condition**

In [40]:
df_data.loc[data.new_cases >= 200]

      iso_code continent  ... life_expectancy human_development_index
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[3 rows x 59 columns]

In [41]:
df_data[df_data.new_cases >= 200]

      iso_code continent  ... life_expectancy human_development_index
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[3 rows x 59 columns]

In [43]:
df_data.loc[(data.new_cases >= 200) & (data.new_cases <= 300)]

      iso_code continent  ... life_expectancy human_development_index
63765      ZWE    Africa  ...           61.49                   0.535

[1 rows x 59 columns]

In [45]:
df_data.loc[df_data.new_cases >= 200, ['iso_code']]

      iso_code
63761      ZWE
63762      ZWE
63765      ZWE

In [46]:
df_data.loc[df_data.new_cases >= 200, ['iso_code']] = 'ZWWW'

In [47]:
df_data

      iso_code continent  ... life_expectancy human_development_index
63761     ZWWW    Africa  ...           61.49                   0.535
63762     ZWWW    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765     ZWWW    Africa  ...           61.49                   0.535

[5 rows x 59 columns]

In [48]:
df_data.loc[df_data.new_cases >= 200, ['iso_code']] = 'ZWE'
display(df_data)

      iso_code continent  ... life_expectancy human_development_index
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[5 rows x 59 columns]

In [50]:
df_data.iloc[[0, 2]]

      iso_code continent  ... life_expectancy human_development_index
63761      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535

[2 rows x 59 columns]

In [51]:
df_data.iloc[[0, 2], [1, 3]]

      continent        date
63761    Africa  2021-01-29
63763    Africa  2021-01-31

In [55]:
df_data.iloc[1:3, 2:4]

       location        date
63762  Zimbabwe  2021-01-30
63763  Zimbabwe  2021-01-31

In [58]:
df_data.loc[df_data.total_cases >= 33000]

      iso_code continent  ... life_expectancy human_development_index
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[4 rows x 59 columns]

In [59]:
df_data.loc[df_data.total_cases >= 33000, ['iso_code', 'continent', 'location']]

      iso_code continent  location
63762      ZWE    Africa  Zimbabwe
63763      ZWE    Africa  Zimbabwe
63764      ZWE    Africa  Zimbabwe
63765      ZWE    Africa  Zimbabwe

In [60]:
df_data.loc[(df_data.total_cases >= 33500) & (df_data.new_deaths >= 20)]

      iso_code continent  ... life_expectancy human_development_index
63765      ZWE    Africa  ...           61.49                   0.535

[1 rows x 59 columns]

In [61]:
df_data.loc[(df_data.total_cases >= 33500) & (df_data.new_deaths >= 20), ['iso_code']]

      iso_code
63765      ZWE

**Dealing with duplicate rows**

In [64]:
data.drop_duplicates(inplace=True)
display(data)

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[63766 rows x 59 columns]

**Group by in Pandas**

In [65]:
display(data)

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[63766 rows x 59 columns]

In [66]:
display(df_data)

      iso_code continent  ... life_expectancy human_development_index
63761      ZWE    Africa  ...           61.49                   0.535
63762      ZWE    Africa  ...           61.49                   0.535
63763      ZWE    Africa  ...           61.49                   0.535
63764      ZWE    Africa  ...           61.49                   0.535
63765      ZWE    Africa  ...           61.49                   0.535

[5 rows x 59 columns]

In [67]:
data.groupby('iso_code').mean()

            total_cases    new_cases  ...  life_expectancy  human_development_index
iso_code                              ...
AFG        29750.263768   159.771014  ...            64.83                    0.498
AGO         6135.712500    62.187500  ...            61.15                    0.581
ALB        18050.250755   241.492447  ...            78.57                    0.785
AND         2905.434911    29.636095  ...            83.73                    0.858
ARE        82699.194070   834.633423  ...            77.97                    0.863
...                 ...          ...  ...              ...                      ...
WSM            1.883117     0.025974  ...            73.32                    0.713
YEM         1511.668896     7.096990  ...            66.12                    0.452
ZAF       495379.447761  4355.098507  ...            64.13                    0.699
ZMB        11358.897516   174.636646  ...            63.89                    0.588
ZWE         6847.065625   105.668750  ...            61.49                    0.535

[192 rows x 54 columns]

In [68]:
data.describe()

        total_cases      new_cases  ...  life_expectancy  human_development_index
count  6.317200e+04   63164.000000  ...     63078.000000             60976.000000
mean   3.406588e+05    3262.809290  ...        73.125686                 0.715405
std    3.357723e+06   28792.609599  ...         7.547127                 0.153740
min    1.000000e+00  -46076.000000  ...        53.280000                 0.354000
25%    5.350000e+02       1.000000  ...        67.440000                 0.590000
50%    5.591000e+03      46.000000  ...        74.530000                 0.747000
75%    5.779500e+04     516.000000  ...        78.570000                 0.843000
max    1.034226e+08  852678.000000  ...        86.750000                 0.953000

[8 rows x 54 columns]

In [69]:
data.describe().transpose()

                                         count  ...           max
total_cases                            63172.0  ...  1.034226e+08
new_cases                              63164.0  ...  8.526780e+05
new_cases_smoothed                     62205.0  ...  7.363967e+05
total_deaths                           54535.0  ...  2.241249e+06
new_deaths                             54533.0  ...  1.748300e+04
new_deaths_smoothed                    62205.0  ...  1.431243e+04
total_cases_per_million                62810.0  ...  1.296447e+05
new_cases_per_million                  62802.0  ...  8.652658e+03
new_cases_smoothed_per_million         61848.0  ...  2.648773e+03
total_deaths_per_million               54186.0  ...  1.974188e+03
new_deaths_per_million                 54184.0  ...  2.183290e+02
new_deaths_smoothed_per_million        61848.0  ...  6.314000e+01
reproduction_rate                      51295.0  ...  6.720000e+00
icu_patients                            7012.0  ...  2.391200e+04
icu_patients_per_million                7012.0  ...  1.271830e+02
hosp_patients                           8324.0  ...  1.324740e+05
hosp_patients_per_million               8324.0  ...  1.042535e+03
weekly_icu_admissions                    693.0  ...  1.030119e+04
weekly_icu_admissions_per_million        693.0  ...  8.888290e+02
weekly_hosp_admissions                  1061.0  ...  5.088739e+04
weekly_hosp_admissions_per_million      1061.0  ...  2.645194e+03
total_tests                            29551.0  ...  2.965107e+08
new_tests                              29757.0  ...  2.945871e+06
total_tests_per_thousand               29551.0  ...  3.004406e+03
new_tests_per_thousand                 29757.0  ...  3.270860e+02
new_tests_smoothed                     33539.0  ...  1.848797e+06
new_tests_smoothed_per_thousand        33539.0  ...  5.992900e+01
positive_rate                          31731.0  ...  6.360000e-01
tests_per_case                         31212.0  ...  4.425870e+04
total_vaccinations                      1270.0  ...  1.038090e+08
people_vaccinated                        981.0  ...  8.185486e+07
people_fully_vaccinated                  503.0  ...  1.178177e+07
new_vaccinations                        1049.0  ...  1.107675e+07
new_vaccinations_smoothed               1789.0  ...  4.723451e+06
total_vaccinations_per_hundred          1270.0  ...  5.883000e+01
people_vaccinated_per_hundred            981.0  ...  3.740000e+01
people_fully_vaccinated_per_hundred      503.0  ...  2.143000e+01
new_vaccinations_smoothed_per_million   1789.0  ...  2.108700e+04
stringency_index                       57374.0  ...  1.000000e+02
population                             63404.0  ...  7.794799e+09
population_density                     62064.0  ...  1.934750e+04
median_age                             60657.0  ...  4.820000e+01
aged_65_older                          59955.0  ...  2.704900e+01
aged_70_older                          60314.0  ...  1.849300e+01
gdp_per_capita                         60702.0  ...  1.169356e+05
extreme_poverty                        41532.0  ...  7.760000e+01
cardiovasc_death_rate                  61321.0  ...  7.244170e+02
diabetes_prevalence                    62042.0  ...  3.053000e+01
female_smokers                         48361.0  ...  4.400000e+01
male_smokers                           47698.0  ...  7.810000e+01
handwashing_facilities                 30742.0  ...  9.899900e+01
hospital_beds_per_thousand             56292.0  ...  1.380000e+01
life_expectancy                        63078.0  ...  8.675000e+01
human_development_index                60976.0  ...  9.530000e-01

[54 rows x 8 columns]

In [72]:
data.describe().transpose()['count']

total_cases                              63172.0
new_cases                                63164.0
new_cases_smoothed                       62205.0
total_deaths                             54535.0
new_deaths                               54533.0
new_deaths_smoothed                      62205.0
total_cases_per_million                  62810.0
new_cases_per_million                    62802.0
new_cases_smoothed_per_million           61848.0
total_deaths_per_million                 54186.0
new_deaths_per_million                   54184.0
new_deaths_smoothed_per_million          61848.0
reproduction_rate                        51295.0
icu_patients                              7012.0
icu_patients_per_million                  7012.0
hosp_patients                             8324.0
hosp_patients_per_million                 8324.0
weekly_icu_admissions                      693.0
weekly_icu_admissions_per_million          693.0
weekly_hosp_admissions                    1061.0
weekly_hosp_admissions_per_million        1061.0
total_tests                              29551.0
new_tests                                29757.0
total_tests_per_thousand                 29551.0
new_tests_per_thousand                   29757.0
new_tests_smoothed                       33539.0
new_tests_smoothed_per_thousand          33539.0
positive_rate                            31731.0
tests_per_case                           31212.0
total_vaccinations                        1270.0
people_vaccinated                          981.0
people_fully_vaccinated                    503.0
new_vaccinations                          1049.0
new_vaccinations_smoothed                 1789.0
total_vaccinations_per_hundred            1270.0
people_vaccinated_per_hundred              981.0
people_fully_vaccinated_per_hundred        503.0
new_vaccinations_smoothed_per_million     1789.0
stringency_index                         57374.0
population                               63404.0
population_density                       62064.0
median_age                               60657.0
aged_65_older                            59955.0
aged_70_older                            60314.0
gdp_per_capita                           60702.0
extreme_poverty                          41532.0
cardiovasc_death_rate                    61321.0
diabetes_prevalence                      62042.0
female_smokers                           48361.0
male_smokers                             47698.0
handwashing_facilities                   30742.0
hospital_beds_per_thousand               56292.0
life_expectancy                          63078.0
human_development_index                  60976.0
Name: count, dtype: float64